/* -----------COLORES----------- */
$color-principal: #6F1D1B;
$color-secundario:#bb9457;
$color-terciario: #432818;
$color-cuaternario:#ffe6a7;
$color-fuente: #251605ff;
$color-footer: #6F1D1B;

/* -------------MEDIDAS------------- */
$medidaMarginPrincipal: 40px;
$medidaFuentePrincipal: 35px;

/* ------------GRADIENTS-------------- */

$fondo-principal: linear-gradient(to left,#FFE6A7,#BB9457);
$fondo-menu: linear-gradient(to left,#ffecdf, #6F1D1B );
$fondo-menu-hover: linear-gradient(to right,#ffecdf, #6F1D1B );
